@page "/fetchdata"
@inject HttpClient Http

<h1>Card List</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (CardList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Card Holder. (C)</th>
                <th>Number. (F)</th>
                <th>Highest Transaction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in CardList)
            {
                <tr>
                    <td>@forecast.ExpirationDate.ToShortDateString()</td>
                    <td>@forecast.CardHolder</td>
                    <td>@forecast.Number</td>
                    <td>@forecast.HighestTransactionAmount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    GetCardListResponse[] CardList;

    protected override async Task OnInitializedAsync()
    {
        CardList = await Http.GetJsonAsync<GetCardListResponse[]>("http://localhost:5101/api/card/");
    }
}
